#gantt {
  width: 92%;
}

#gantt-container {
  display: flex;
}

#task-list {
  width: 60px;
  flex-shrink: 0;
}

.gantt .today-highlight {
  fill: #f9f4a7 !important;
}

.gantt .grid-row {
  fill: #fff !important;
}
