#gantt {
  width: 90%;
}

#gantt-container {
  display: flex;
}

#task-list {
  width: 90px;
  flex-shrink: 0;
}

.gantt .today-highlight {
  fill: #f9f4a7 !important;
}

.gantt .grid-row {
  fill: #fff !important;
}

.project-bar,
.task-bar {
  pointer-events: none;
}
